
@media (max-width: 640px) {
    .central-block {
        margin: 37px 16px;
    }

    .header {
        margin-top: 43px;
        padding-left: 20.94%;
    }

    .header__logo {
        display: none;
    }

    .header::before {
        content: url('../resources/img/logo210x46_red_black.svg');
    }

    .form__element {
        margin: 32px 24px 0;
    }

    .form__input-item {
        margin-bottom: 24px;
    }

    .form__submit {
        margin: 40px auto;
    }

    .page {
        background-image: url('../resources/img/background-mobile.png');
        background-size: cover;
    }
}

@media (min-width: 641px) {



}

