.page {
  background-size: initial;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 641px) {
  .page {
    display: grid;
    grid-template-rows: 210px 409px auto;
    grid-template-columns: auto 600px auto;
    background-position: center;
    background-image: url("assets/img/background.png");
  }
}

@media (max-width: 640px) {
  .page {
    background-image: url("assets/img/background-mobile.png");
    background-size: cover;
  }
}
